/*
 * @Author: shixinghao 
 * @Date: 2017-12-25 16:45:24 
 * @Last Modified by: shixinghao
 * @Last Modified time: 2017-12-29 10:07:02
 */

@import "./variables.scss";
// 全局基础css
html {
    // 1rem=10px;
    font-size: 62.5%;
    background-color: $color-greyF2;
}

body {
    margin: 0;
    color: $color-black;
    font-size: 1.4rem;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
    /*兼容 IE*/
}

.font-12 {
    font-size: 1.2rem;
}

.font-14 {
    font-size: 1.4rem;
}

.font-16 {
    font-size: 1.6rem;
}

.font-40 {
    font-size: 2rem;
}

.font-bold {
    font-weight: bold;
}

.color-red {
    color: $color-red;
}

.color-black {
    color: $color-black;
}

.color-grey {
    color: $color-grey;
}

.color-green {
    color: $color-green;
}

// 全局布局css
.header-top {
    padding-top: 45px;
}

.header2-top {
    padding-top: 90px;
}

.loadmore-bottom {
    padding-bottom: 60px;
}