/*
 * @Author: shixinghao 
 * @Date: 2017-12-25 16:44:29 
 * @Last Modified by: shixinghao
 * @Last Modified time: 2017-12-29 09:36:20
 */

// url()有bug
$font-path:"../assets/fonts";
$color-red:#C90E1B;
$color-pink:#FFF4D2; //淡粉红，欠费
$color-green:#17B03E;
$color-grey:#646472; //font
$color-greyD:#DDD; //border
$color-greyF2:#F2F2F2; //页面底色
$color-greyA6:#9797A6; //字体背景色
$color-white:#FFF;
$color-black: #333;
$font-min:12px;
@function border($color) {
    @return 1px solid $color;
}