@import "./variables.scss";
html {
    font-size: 62.5%;
    background-color: $color-greyF2;
}

body {
    margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
    /*兼容 IE*/
}