@import "./variables.scss";
html {
    font-size: 62.5%;
    background-color: $color-greyF2;
}

body {
    margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
    /*兼容 IE*/
}

.font-12 {
    font-size: 1.2rem;
}

.font-14 {
    font-size: 1.4rem;
}

.font-16 {
    font-size: 1.6rem;
}

.font-40 {
    font-size: 2rem;
}

.font-bold {
    font-weight: bold;
}

.color-red {
    color: $color-red;
}

.color-black {
    color: $color-black;
}

.color-grey {
    color: $color-grey;
}

.color-green {
    color: $color-green;
}

.header-top {
    margin-top: 40px;
}