// url()有bug
$font-path:"../assets/fonts";
$color-red:#C90E1B;
$color-green:#17B03E;
$color-grey:#B6A785; //font
$color-greyD:#DDD; //border
$color-greyF2:#F2F2F2; //页面底色
$color-greyA6:#9797A6; //字体背景色
$color-white:#FFF;
$color-black: #333;
$font-min:12px;
@function border($color) {
    @return 1px solid $color;
}